.LangueBanner {
    position: relative;
    margin-top: 7%;
    
  }
  
  .imgbanner {
    position: relative;
  }
  
  .imgbanner img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .textBanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
  }
  
  .textBanner h1, .textBanner h2 {
    margin: 0;
    font-size: 22px;
    margin-top: 2%;

  }

.textBanner h3{
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;


}
  .LangueFormation {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .item {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .item h3 {
    font-size: 22px;
    margin-top: 10px;
  }
  
  .item p {
    font-size: 12px;
    color: #000;
  }
  .exploreNow{
    width: 150px;
    height: 50px;
    padding: 10px 16px 10px 16px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    background:linear-gradient(200deg, #000a78 0%, rgba(0, 145, 255, 0.72) 50%, #7e80f7 100%);
    color:#fff;
    margin-bottom: 2%;
  }
  .exploreNow:hover{
    background:linear-gradient(80deg, #00053e 0%, rgba(13, 130, 219, 0.72) 50%, #1b1eba 100%)

  }