.Title{
    font-weight: 400;
    font-size: 32px;
    line-height: 180px;
    text-align: center;
    color: #FFFFFF;
}

.img1{
    width: 449px;
    height: 227px;
}
.img2{
    width: 449px;
    height: 227px;
}
.img3{
    width: 449px;
    height: 227px;
    
}





